* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */

}
a {
    text-decoration: none;
}
/* html{
        font-family: 'Montserrat', Regular;
} */
.header {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #dddddd;
}
.header-top {
    display: flex;
    height: 100%;
    padding: 15px 30px;
    font-size: 13px;
    letter-spacing: 1px;
    background-color: black;
    justify-content: space-between;
}
.header-top li i {
    color: #525252;
}
.header-top li a {
    color: #525252;
    padding: 8px;
    text-decoration: none;
    font-family: 'OpenSans', sans-serif;
}
.header-top li {
    display: inline-block;
}
.header-menu {
    border-bottom: 1px solid #dddddd;
    height: 79px;
}
.header-total {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
i.fa-menu.fa-solid.fa-bars {
    display: none;
    font-size: 25px;
    margin-left: 15px;
    cursor: pointer;
}
.header-menu li {
    display: inline-block;
}
.header-menu li a {
    text-decoration: none;
    color: black;
    align-items: center;
}
.header-logo {
    letter-spacing: 15px;
    font-size: 20px;
    width: 166px;
    border: 2px solid black;
    font-family: 'Montserrat', bold;
    font-weight: 700;
}
.header-logo {
    padding: 6px 15px;
    margin-left: 1.5%;
}
.header-item {
    display: flex;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-family: 'Montserrat', bold;
    font-weight: 700;
    margin-right: 7.7%;
    margin-top: 0%;
}
.header-item li {
    padding-left: 51px;
}
.header-item a:hover {
    color: #8262b5;
}
.header_item-search {
    padding: 1px 38px 20px;
    height: 0px;
    border-radius: 40px;
}
.header_item-search:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}
.header_item-search:hover > .search-btn {
background: white;
}
.search-txt {
    border: none;
    background: none;
    outline: none;
    float: right ;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}
.search-btn {
    color: black;
    float: left;
    /* width: 40px; */
    /* height: 40px; */
    border-radius: 50%;
    /* background: chocolate; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
.header_warp-icon {
    display: flex;
    font-size: 28px;
    margin-right: 1.7%;
    cursor: pointer;
}
.img {
    position: relative;
    margin-left: 30px;
}
.cartAmount {
    position: absolute;
    font-size: 16px;
    top: -10px;
    right: -8px;
    background-color: #616161;
    color: white;
    border-radius: 3px;
}

.banner {
    display: flex;
    width: 100%;
    padding: 30px;
    max-width: 1140px;
    margin: auto;
}
.banner img {
    width: 100%;
}
.banner-left {
    position: relative;
}
.banner_left-btn {
    position: absolute;
    top: 65%;
    left: 73.5%;
    font-size: 14px;
    height: 40px;
    width: 106px;
    background-color: #8262b5;
    color: #fff;
    border: none;
    font-family: 'Montserrat', regular;
    cursor: pointer;
}
.text {
    position: absolute;
    font-family: 'Pacifico', regular;
    top: 54.4%;
    left: 44.9%;
    font-size: 27px;
    letter-spacing: -1px;
}
.top-text {
    position: absolute;
    top: 40.5%;
    left: 15%;
}
.banner-right {
    padding-left: 32px;
}
.banner-right h4 {
    letter-spacing: 3px;
    color: #616161;
    font-family: 'Montserrat', regular;
    font-weight: 500;
}
.banner-right h3 {
    font-family: 'Montserrat', bold;
    font-weight: 700;
    letter-spacing: 1px;
}
.banner_right-top {
   position: relative;
}
.banner_right-bottom {
    position: relative;
    padding-top: 26px;
}
.banner_right-btn {
    position: absolute;
    top: 56.8%;
    left: 11%;
    font-size: 14px;
    height: 40px;
    width: 108px;
    background-color: #8262b5;
    color: #fff;
    border: none;
    font-family: 'Montserrat', regular;
    cursor: pointer;
}
.bottom-text {
    position: absolute;
    top: 40.5%;
    left: 10.7%;
}

.navigation {
    background-image: url(./img/bac.png);
    height: 708px;
    width: 100%;
    position: relative;
}
.navigation-img {
    display: block;
    position: relative;
    /* width: 100%; */
}
.navigation-titlet {
    text-align: center;
    top: 10%;
    left: 44%;
    letter-spacing: 4.9px;
    font-family: 'Montserrat', bold;
    font-weight: 600;
    line-height: 30px;
}
.navigation-titlet h5 {
    color: #8262b5;
    padding-top: 69px;
}

.navigation-titlet h2 {
    margin-left: -2px;
    margin-top: 2px;
    letter-spacing: 2.3px;
}
.navigation-titlet h2::after{
    position: absolute;
    top: 21.8%;
    left: 48.7%;
    content: "";
    width: 50px;
    height: 1px;
    background-color: #8262b5;
}
.navigation-slider {
    display: flex;
    width: 100%;
    max-width: 1140px;
    margin: auto;
    top: 10.5%;
    left: 0;
    right: 0;
}
.slider-title {
    background-color: #fff;
    width: 100%;
    max-width: 360px;
    height: 100%;
    margin-right: 30px;
}
.slider-img {
    padding-bottom: 12px;
}
.titlet-text {
    padding-left: 18px;
}
.titlet-text a{
    text-decoration: none;
    font-family: 'Montserrat', Regular;
    margin-top: 12px;
    font-size: 13px;
    color: black;
    cursor: pointer;
}
.titlet-text h3:hover {
    color: #8a6cba;
}
.titlet-text p {
    padding-top: 20px;

    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 15px;
}
.gach {
    height: 1px;
    background-color: #ededed;
    margin-bottom: 18px;
}
.comment {
    font-size: 12px;
    padding-left: 18px;
    letter-spacing: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}
.date-border{
    width: 49px;
    height: 49px;
    border: 1px solid #fff;
    margin: 5px 0 0 5px;
}
.date {
    position: absolute;
    top: 22px;
    left: 20px;
    width: 60px;
    height: 60px;
    background-color: #a1d1dd;
}
.date-year{
    font-weight: 700;
    padding: 7px 10px 0px 10px;
    text-align: center;
    font-size: 16px;
    color: #fff;
}
.slider-title {
    margin-right: 28px !important;
}
.slider__slider-change {
    width: 100%;
    display: block;
    padding-bottom: 60px;
}
/* dots 2 cai span */
span.swiper-pagination-bullet {
    padding: 2px;
    background-color: #8262b5;
}
span.swiper-pagination-bullet:hover {
    padding: 4px;
}
.slider-container {
    position: absolute;
    top: 0;
}
.foodter {
    width: 100%;
    background-color: black;
    height: 100%;
}
.footer-top {
    display: flex;
    width: 100%;
    max-width: 1140px;
    left: 0;
    right: 0;
    margin: auto;
    color: #fff;
    padding-top: 60px;
    padding-bottom: 40px;
}
.footer-top h3{
    padding-bottom: 27px;
    color: #f7f7f7;
    font-family: 'Montserrat', Regular;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.3px;
}
.footer-heart {
    width: 24%;
}
.footer-text {
    border-top: 1px solid #393939;
    padding-top: 19px;
}
.footer-text {

}
.footer-heart p {
    letter-spacing: 0.3px;
    line-height: 23px;
    color: #7a7a7a;
    padding-bottom: 42px;
    font-family: 'Open Sans', sans-serif;
}
.footer-heart-icon {
    letter-spacing: 14px;
    color: #828282;
    cursor: pointer;
}
.footer-heart-icon i:hover  {
    color: #fff;
}
.footer-heat2 {
    width: 35%;
    margin-left: 132px;
}
.navi-heat a:hover  {
    color: #fff;
    text-decoration: underline;
}
.footer-heat2 li {
    list-style: none;
}
.navi-heat {
    display: flex;
    width: 100%;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
}
.navi-heat li a {
    color: #7a7a7a;
    text-decoration: none;
  
}
.navi-left {
    width: 50%;
}
.navi-right {
    width: 50%;
    margin-left: 10px;
}
.footer-heart3 {
    width: 24%;
    margin-left: 113px;
}
.footer-text {
    font-family: 'Open Sans', sans-serif;
}
.shop {
    line-height: 34px;
    color: #7a7a7a;
}
.shop a {
    color: #7a7a7a;
    text-decoration: none;
}
.map i {
    margin-right: 11px;
    margin-left: -3px;
}
.map span {
    margin-left: 27px;
}
.map:hover >a {
    color: #fff;
    text-decoration: underline;
}
.phone i {
    margin-right: 14px;
    margin-left: -3px;
    font-size: 12px;
}
.phone:hover >a {
    color: #fff;
    text-decoration: underline;
}
.mail i {
    margin-right: 16px;
    margin-left: -3px;
}
.mail:hover >a {
    color: #fff;
    text-decoration: underline;
}
.foodter-bottom {
    border-top: 1px solid#393939;
    height: 70px;
    align-items: center;
}
.foodter-total {
    display: flex;
    width: 100%;
    max-width: 1140px;
    height: 100%;
    margin: 0 auto;
    color: #fff;
    align-items: center;
    justify-content: space-between;
}
.foodter-left a {
    color: #888888;
    text-decoration: none;
}
.tym {
   color: red;
}
.foodter-right {
    color: #888888;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 1.9px;
}
.foodter-right i:hover {
    color: #fff;

}
.header__add-cart {
    animation: identifier linear 1s;
    position: absolute;
    width: 30%;
    /* height: 100%; */
    right: 0;
    top: 100px;

    background-color: #999;
    padding: 12px 20px;
    display: none;
}
.header__add-cart table {
    width: 100%;
}
.header__add-cart table thead tr th {
    text-align: left;
}
.header__add-cart table tr td {
    border-bottom: 1px solid #ddd;
    padding: 12px 0;
}
.item {
    width: 70px;
}
.xoa {
    font-size: 30px;
}
nav {
    position: fixed;
    width: 200px;
    height: 100%;
    background: red;
    display: flex;
    align-items: center;
    border-right: 1px solid blue;
    z-index: 1000;
    transition: ease-in-out;
}
nav ul {
    width: 100%;
    color: #8262b5;
    font-size: ;
}
.product-category {
    margin: 75px auto 31px;
    width: 100%;
    max-width: 1140px;
}
.product-content {
    text-transform: uppercase;
    margin-bottom: 50px;
    letter-spacing: 4px;
}

.content-box__title {
    color: #8262b5;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 11px;
    letter-spacing: 5.2px;
}
.content-box__sub-title{
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2.2px;
}
.underlined {
    width: 50px;
    height: 1px;
    background-color: #8262b5;
}
.content-box.underlined{
    margin-top: 23px;
}
/* end-product-content */

/* product-list */
.product-category__list{
    margin-left: -30px;
}
.product-colums{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.product-item{
    margin-bottom: 66px;
    margin-left: 30px;
    width: calc(25% - 30px);
}

.product-img{
    position: relative;
}
.product-img__btn-add{
    position: absolute;
    width: 118px;
    height: 40px;
    font-size: 12px;
    text-transform: uppercase;
    color: #424242;
    background-color: #fff;
    border: none;
    cursor: pointer;
    bottom: 68px;
    left: 5px;
    font-family: Montserrat;
    font-weight: 400;
}
.product-img__btn-add:hover{
    color: #8262b5;
}
.ads-img {
    display: block;
    cursor: pointer;
}
.heading{
    color: #000;
    font-size: 14px;
    font-weight: bold;
    margin: 15px 0 10px 0;
    cursor: pointer;
    letter-spacing: -0.4px;
}
.heading:hover {
    /* color: #8262b5; */
}

.star{
    font-size: 12px;
    padding-bottom: 6px;
    letter-spacing: -1.6px;
    cursor: pointer;
    color: #d1d1d1;
}

.checked{
    color: #f8ba04;
}

.product-img del {
    color: #999 !important;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
.product-img p {
    color: #8262b5;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    bottom: -21px;
}
/* .toggle{
    animation: identifier linear 1s;
    position: fixed;
    width: 30%;
    height: 100%;
    left: 0;
    top: 0px;
    background-color: #999;
    padding: 12px 20px;
    display: none;
} */
.units {
    display: flex;
    cursor: pointer;
}
.number {
    margin: 0 15px;
}


/* reponsive */
/* @media screen and (min-width: 1026px) and (max-width: 1440px){
    .product-content h3::after {
        bottom: -128.7%;
        left: 10.6%;
    }
    .product_category-list {
        margin-right: -30px;
    }
    .navigation-img {
        width: 100%;
        height: 708px;
    }
}

@media screen and (min-width: 770px) and (max-width: 1025px){
    .header-item {
        margin-right: -1%;
    }
    .header-item li {
        padding-left: 20px;
    }
    .banner {
        padding: 0 0 0 0;
        margin-top: 20px;
        width: calc(100% - 30px);
    }
    .banner-right {
        padding-left: 15px;
    }
    .banner_right-bottom{
        padding-top: 22px;
    }   
    .product-category {
        padding: 0px 0px 0px 0px;
        margin-left: 16px;
        padding-top: 45px;
        width: calc(100% - 18px);
    }
    .product-content h3::after {
        bottom: -98.7%;
        left: 1.6%;
    }
    .product_category-list {
        margin-right: 0px;
    }
    .product-item {
        width: calc(25% - 15px);
        margin-right: 15px;
    }
    .product-item img {
        width: 100%;
    }
    .product-content h3::after {
        bottom: -98.7%;
        left: 1.6%;
    }
    .navigation-img {
        width: 100%;
        height: 708px;
    }
    .navigation-titlet h2::after {
        left: 47.5%;
    }
    .navigation-slider {
        width: calc(100% - 35px);
        left: -1px;
    }
    .slider-title {
        margin-right: 10px;
    }
    .slider-title img {
        width: 100%;
    }
    .footer-heart {
        margin-left: 20px;
    }
    .footer-heat2 {
        margin-left: 70px;
    }
    .footer-heart3 {
        margin-left: 65px;
    }
    .foodter-left {
        margin-left: 15px;
    }
    .foodter-right {
        margin-right: 15px;
    }
}

@media screen and (min-width: 427px) and (max-width: 769px){
    i.fa-menu.fa-solid.fa-bars {
        display: block;

    }
    .header-logo {
        margin-left: 12.5%;
    }
    .header-item {
        display: none;
        flex-direction: column;
    }
    .header_warp-icon {
        margin-right: 2%;
    }
    .banner {
        display: block;
        width: calc(100% - 30px);
        margin-top: 20px;
        padding: 0;
    }
    .banner img {
        width: 100%;
        height: 100%;
    }

    .banner-right {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
    }
    .banner_right-bottom{
        padding-top: 0;
    }   
    .product-category {
        padding: 0 0 0 0;
        margin-left: 16px;
        padding-top: 45px;
        width: calc(100% - 18px);
    }
    .product-content h3::after {
        bottom: -206.7%;
        left: 2%;   
    }
    .product_category-list {
        margin-right: 0px;
    }
    .product-item {
        width: calc(33.333% - 15px);
        margin-right: 15px;
    }
    .product-item img {
        width: 100%;
    }
    .navigation-img {
        width: 100%;
        height: 708px;
    }
    .navigation-titlet {
        left: 35%;
    }
    .navigation-titlet h2::after {
        left: 46.7%;
    }    
    .navigation-slider {
        width: calc(100% - 20px);
    }
    .slider-title {
        margin-right: 19px;
    }
    .slider-title img {
        width: 100%;
    }
    .footer-top {
        display: block;
        padding-bottom: 60px;
    }
    .footer-heart {
        margin-left: 20px;
        width: calc(100% - 39px);
        text-align: center;
    }
    .footer-heat2 {
        margin-left: 20px;
        padding-top: 50px;
        width: 48%;
    }
    .footer-heart3 {
        margin-left: 63%;
        margin-top: -31.9%;
        width: 34%;
    }
    .foodter-left {
        margin-left: 15px;
    }
    .foodter-right {
        margin-right: 15px;
    }
    .header__add-cart {
        width: 45%;
    }
}

@media screen and (min-width: 377px) and (max-width: 426px){
    i.fa-menu.fa-solid.fa-bars {
        display: block;
    }
    .header-top {
        display: block;
        padding: 15px 26px;
    }
    .header-top-right {
    text-align: center;
    }
    .header-logo {
        margin-left: 4.5%;
    }
    .header-item {
        display: none;
    }
    .header_warp-icon {
        margin-right: 4%;
        letter-spacing: 15px;
    }
    .banner {
        display: block;
        width: calc(100% - 30px);
        margin-top: 20px;
        padding: 0;
    }
    .banner img {
        width: 100%;
        height: 100%;
    }
    .text {
        top: 53.4%;
        left: 40.9%;
        font-size: 20px;
    }
    .banner_left-btn {
        left: 73.5%;
        font-size: 12px;
        height: 34px;
        width: 94px;
    }
    .banner-right {
        display: block;
        justify-content: space-between;
        padding: 10px 0;
    }
    .banner_right-bottom{
        padding-top: 10px;
    }   
    .product-category {
        padding: 0 0 0 0;
        margin-left: 16px;
        padding-top: 45px;
        width: calc(100% - 18px);
    }
    .product-content h3::after {
        bottom: -214.7%;
        left: 4%; 
    }
    .product_category-list {
        margin-right: 0px;
        padding-top: 14.5%;
    }
    .product-item {
        width: calc(50% - 15px);
        margin-right: 15px;
    }
    .product-item img {
        width: 100%;
    }
    .navigation-img {
        width: 100%;
        height: 708px;
    }
    .navigation-titlet {
        left: 35%;
    }
    .navigation-titlet h2::after {
        left: 46.7%;
    }    
    .navigation-slider {
        width: calc(100% - 66px);
        left: 0px;
    }
    .slider-title {
        margin-right: 19px;
    }
    .slider-title img {
        width: 100%;
    }
    .footer-top {
        display: block;
        padding-bottom: 20px;
    }
    .footer-top h3 {
        text-align: center;
    }
    .footer-heart {
        margin-left: 20px;
        width: calc(100% - 39px);
        text-align: center;
    }
    .footer-heat2 {
        margin-left: 20px;
        padding-top: 50px;
        width: calc(100% - 40px);
    }
    .footer-heart3 {
        margin-left: 5%;
        padding-top: 20px;
        width: calc(100% - 40px);
    }
    .foodter-right {
        margin-right: 15px;
    }
    .foodter-bottom {
        padding-top: 25px;
    }
    .foodter-total {
        display: block;
        text-align: center;
    }
    .header__add-cart {
        width: 92%;
    }
}

@media screen and (min-width: 322px) and (max-width: 376px){
    i.fa-menu.fa-solid.fa-bars {
        display: block;
    }
    .header-top {
        display: block;
        text-align: center;
    }
    .header-logo {
        margin-left: 3.5%;
    }
    .header-item {
        display: none;
    }
    .header_warp-icon {
        margin-right: 4%;
    }
    .banner {
        display: block;
        width: calc(100% - 30px);
        margin-top: 20px;
        padding: 0;
    }
    .banner img {
        width: 100%;
        height: 100%;
    }
    .text {
        top: 53.4%;
        left: 40.9%;
        font-size: 17.5px;
    }
    .banner_left-btn {
        left: 74.5%;
        font-size: 12px;
        height: 30px;
        width: 81px;
    
    }
    .banner-right {
        display: block;
        justify-content: space-between;
        padding: 10px 0;
    }
    .banner_right-bottom{
        padding-top: 10px;
    }   
    .product-category {
        padding: 0 0 0 0;
        margin-left: 16px;
        padding-top: 45px;
        width: calc(100% - 18px);
    }
    .product-content h3::after {
        bottom: -188.7%;
        left: 5%;  
    }
    .product_category-list {
        margin-right: 0px;
        padding-top: 14.5%;
    }
    .product-item {
        width: 100%;
        margin-right: 15px;
    }
    .product-item img {
        width: 100%;
    }
    .navigation-img {
        width: 100%;
        height: 708px;
    }
    .cart {
        bottom: 101.8px;
    }
    .product-item h3 {
        font-size: 20px;
    }
    .star {
        font-size: 15px;
    }
    .product-item p {
        font-size: 18px;
    }
    .navigation-titlet {
        left: 35%;
    }
    .navigation-titlet h2::after {
        left: 42.7%;
    }    
    .navigation-slider {
        width: calc(100% - 31px);
    }
    .slider-title {
        margin-right: 19px;
    }
    .slider-title img {
        width: 100%;
    }
    .footer-top {
        display: block;
        padding-bottom: 20px;
    }
    .footer-top h3 {
        text-align: center;
    }
    .footer-heart {
        margin-left: 20px;
        width: calc(100% - 39px);
        text-align: center;
    }
    .footer-heat2 {
        margin-left: 20px;
        padding-top: 50px;
        width: calc(100% - 40px);
    }
    .footer-heart3 {
        margin-left: 5%;
        padding-top: 20px;
        width: calc(100% - 40px);
    }
    .foodter-right {
        margin-right: 15px;
    }
    .foodter-bottom {
        padding-top: 25px;
    }
    .foodter-total {
        display: block;
        text-align: center;
    }
    .header__add-cart {
        width: 90%;
    }
}

@media screen and (min-width: 0px) and (max-width: 321px){
    i.fa-menu.fa-solid.fa-bars {
        display: block;
    }
    .header-top {
        display: block;
        text-align: center;
    }
    .header-logo {
        margin-left: 1.5%;
        width: 138px;
        letter-spacing: 11px;
    }
    .header-item {
        display: none;
    }
    .header_warp-icon {
        margin-right: 4%;
        letter-spacing: 8px;
        font-size: 24px;
    }
    .banner {
        display: block;
        width: calc(100% - 30px);
        margin-top: 20px;
        padding: 0;
    }
    .banner img {
        width: 100%;
        height: 100%;
    }
    .text {
        top: 53.4%;
        left: 40.9%;
        font-size: 15px;
    }
    .banner_left-btn {
        left: 73.5%;
        font-size: 11px;
        height: 27px;
        width: 71px;
    }
    .banner-right {
        display: block;
        justify-content: space-between;
        padding: 10px 0;
    }
    .banner_right-bottom{
        padding-top: 10px;
    }   
    .product-category {
        padding: 0 0 0 0;
        margin-left: 16px;
        padding-top: 45px;
        width: calc(100% - 18px);
    }
    .product-content h3::after {
        bottom: -156.7%;
        left: 5%;  
    }
    .product_category-list {
        margin-right: 0px;
        padding-top: 14.5%;
    }
    .product-item {
        width: 100%;
        margin-right: 15px;
    }
    .product-item img {
        width: 100%;
    }
    .cart {
        bottom: 101.8px;
    }
    .product-item h3 {
        font-size: 20px;
    }
    .star {
        font-size: 15px;
    }
    .product-item p {
        font-size: 18px;
    }
    
    
    .navigation-img {
        width: 100%;
        height: 708px;
    }
    .navigation-titlet {
        left: 35%;
    }
    .navigation-titlet h2::after {
        left: 42.7%;
    }    
    .navigation-slider {
        width: calc(100% - 31px);
    }
    .slider-title {
        margin-right: 19px;
    }
    .slider-title img {
        width: 100%;
    }
    .footer-top {
        display: block;
        padding-bottom: 20px;
    }
    .footer-top h3 {
        text-align: center;
    }
    .footer-heart {
        margin-left: 20px;
        width: calc(100% - 39px);
        text-align: center;
    }
    .footer-heat2 {
        margin-left: 20px;
        padding-top: 50px;
        width: calc(100% - 40px);
    }
    .navi-right {
        width: 60%;
        margin-left: 15px;
    }
    .footer-heart3 {
        margin-left: 5%;
        padding-top: 20px;
        width: calc(100% - 40px);
    }
    .foodter-right {
        margin-right: 15px;
    }
    .foodter-bottom {
        padding-top: 25px;
    }
    .foodter-total {
        display: block;
        text-align: center;
    }
    .header__add-cart {
        width: 88%;
    }
}